
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Get That Coffee Doe</h1>
        <p>Here's where we convince people that they want this shit 100%</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
      </div>
    </div>

    <div class="container-fluid container-home about">
      
      <div class="row">
        <div class="col-md-4">
          <h2>Roasted 1lb at a time</h2>
          <p>We hand roast each pound of coffee.  That means your coffee is literally hand roasted and inspected to pass our rigorous standards.  We ship the coffee same day so that it arrives, ready for drinking, at peak flavor.  The process is intentional from start to finish so you get the best coffee and drinking experience possible.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>

    </div>
    
    <div class="container-fluid container-home subscribe">  
      <div class="row">  
        <div class="col-md-4">
          <h2>Get some</h2>
          <p>Mercury Coffee is $30 per month.  Because supply is so limited, we only ship one bag per month.  If you are interested in receiving more than one bage, please contact us and well be happy to se if we can accomodate you.<p>
          
          <p>
          <!-- <a class="btn btn-default" href="#" role="button">View details &raquo;</a> -->
			<%= form_tag charges_path, id: 'chargeForm' do %>
			    <script src="https://checkout.stripe.com/checkout.js"></script>
			    <%= hidden_field_tag 'stripeToken' %>
			    <%= hidden_field_tag 'stripeEmail' %>
			    <%= hidden_field_tag 'amount', 3000 %>    
			    <button id="btn-buy" type="button" class="btn btn-success btn-lg btn-block"><span class="glyphicon glyphicon-ok"></span>Subscribe!</button>
			    <script>
			    var handler = StripeCheckout.configure({
			      key: '<%= Rails.configuration.stripe[:publishable_key] %>',
			      token: function(token, arg) {
			        document.getElementById("stripeToken").value = token.id;
			        document.getElementById("stripeEmail").value = token.email;
			        document.getElementById("chargeForm").submit();
			      }
			    });
			     document.getElementById('btn-buy').addEventListener('click', function(e) {
			      handler.open({
			        name: 'Mercury Coffee',
			        description: '12oz monthly subscription ($30)',
			        amount: document.getElementById("amount").value
			    });
			    e.preventDefault();
			   })
			  </script>
			<% end %>
          </p>

       </div>
      </div>
    </div>
    
    <div class="container-fluid container-home contact">  
      <div class="row">  
        <div class="col-md-4">
          <h2>It's About You</h2>
          <p>Please contact us.  We roast Mercury Coffee because we love coffee and we think there are others with the same appreciation.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>  
    </div> 

    <div class="container-fluid">
      <hr>

      <footer>
        <p>&copy; 2015 Mercury Coffee, Inc.</p>
      </footer>
    </div> <!-- /container -->


  </body>
</html>
