
    <div class="container-fluid sub-jumbotron" id="subscribe">  
          <div class="row">  
            <div class="col-md-4 col-md-offset-4 sub-jumbo-column">
              <div class="outline">
              <h1>1/30</h1>
              <p>We limit 30 Frank to just 30 customers to ensure an authentic experience for you.  Join a community of folks who are looking for those perfect moments.</p>
              <div class="sub-button">  
                <p>
                <!-- <a class="btn btn-default" href="#" role="button">View details &raquo;</a> -->
            <%= form_tag charges_path, id: 'chargeForm' do %>
                <script src="https://checkout.stripe.com/checkout.js"></script>
                <%= hidden_field_tag 'stripeToken' %>
                <%= hidden_field_tag 'stripeEmail' %>
                <%= hidden_field_tag 'amount', 9000 %>    
                <button id="btn-buy" type="button" class="btn btn-success btn-lg">Join 30Frank</button>
                <script>
                var handler = StripeCheckout.configure({
                  key: '<%= Rails.configuration.stripe[:publishable_key] %>',
                  token: function(token, arg) {
                    document.getElementById("stripeToken").value = token.id;
                    document.getElementById("stripeEmail").value = token.email;
                    document.getElementById("chargeForm").submit();
                  }
                });
                 document.getElementById('btn-buy').addEventListener('click', function(e) {
                  handler.open({
                    name: '30 Frank Coffee',
                    description: '12oz 3 month subscription ($90)',
                    amount: document.getElementById("amount").value,
                    shippingAddress: 'true',
                    image: '<%= asset_path 'stripe.jpeg' %>'
                });
                e.preventDefault();
               })
              </script>
            <% end %>
                </p>
              </div>
             </div>   

           </div>
          </div>
        </div>

<div class="container-fluid container-details" id="">
      
    <div class="row">
        
        <div class="col-md-3 col-md-offset-3">
          <h2>Each Month</h2>
          <p>Each month we will send you one 12oz bag of hand-selected, fresh roasted, whole bean coffee.  That will make 18 cups of strong coffee.  We roast on Saturday and ship the same day so that your coffee arrives Monday or Tuesday.  When your coffee arrives, immediately transfer it to your 30Frank airtight container.  Each shipment will arrive with a collectible token telling you about your specific coffee.</p>
        </div>  

        <div class="col-md-3">
          <h2>Cost</h2>
          <p>30Frank is $30 a month, go figure.  Shipping is Free.  To join, we ask that you commit to 3 months up front, after that we bill you monthly.  You may pause or cancel at anytime.  If you are not completely satisfied with your coffee we will give you a 100% refund.  We love our coffee and you should too.</p>
        </div>

    </div>


</div>



    <div class="container-fluid">
      <hr>

      <footer>
        <p>&copy; 2016 30 Frank Coffee, Inc. <a href="mailto:christopher.kosednar@gmail.com">Contact Us</a></p> 
      </footer>
    </div> <!-- /container -->


  </body>
</html>
